{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5 mb-5">Hello, World!</h1>
                <p class="lead">A am simple symfony project created for CST</p>
                <p class="lead">By<a href="https://www.abgeo.dev" target="_blank">ABGEO</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
